.father {
  text-align: center;
}
.child {
  display: inline-block;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: green;
  color: white;
  font-weight: 700;
}
.lb {
  margin-left: 8px;
  color: red;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: green;
  color: white;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}

p {
  font-family: Lato;
}
