<section id="home" class="father">
  <div class="container" class="child">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" >
        <div class="container">
          <div class="card">

            <div class="card-body text-center">
              <p>
                <img class="img-fluid" >
              </p>
              <h4 class="card-title"></h4>
              <p class="card-text">
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-info" *ngIf="congratulations">
                  Congratulations you are new user
                </p>

                <p class="badge badge-info">
                 User : {{user}}
                </p>
                <p class="badge badge-info">
                 Tokens : {{tokens}} €
                </p>

                <p class="badge badge-info">
                 You want to sell or buy tokens ?
                </p>
                <div class="row">
                  <div class="column">
                    <p class="badge badge-info">
                      sell
                    </p>
                    <input [(ngModel)]="sell" type="price" placeholder="sell" >
                    <p class="badge badge-info">
                      What is the price you want to sell them ?
                    </p>
                    <input [(ngModel)]="price" type="price"  placeholder="price" >
                    <button (click)="onClickMe()"> sell it!</button>
                  </div>
                  <div class="column">
                    <p class="badge badge-info">
                      buy
                    </p>
                      <br>
                      <br>
                    <input [(ngModel)]="buy" type="price"  placeholder=" buy ">
                    <button (click)="buyTokens()"> buy</button>
                  </div>
                </div>

                <p class="badge badge-info">
                </p>
              </div>
              <button (click)="onLoOut()">Log Out!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
